.GameComponent-container > :nth-child(1) > :nth-child(1) {
	display: none !important;
}
/* Additional */
.GameCanvasContainer-settings {
	display: none;
}
.GameVideo-self-video-container {
	display: none !important;
}
